:root {
  --primary: #1619a9;
  --secondary: #999;
}
body {
  margin: 0;
  font-family: Lato;
  background-color: var(--secondary);
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  margin: 40px auto;
  color: var(--primary);
  text-align: center;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 1px solid #002500;
  margin: 10px auto;
}
li h4 {
  color: var(--primary);
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #B7245C;
  margin: 8px 0 0;
}
footer {
  background: #eee;
  padding: 60px;
  margin-top: 60px;
}
form {
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: var(--primary);
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}
footer {
  color: var(--secondary);
}
.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  margin-top: 40px;
}
.fa-github {
  color: var(--primary);
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
